body {
    background: #f3f2f2;
}
.container {
    background: #e0cbf1;
    margin: 58px auto;
    margin-bottom: 10px;
    width: 970px;
    height: 550px;
    border-radius: 2px; 
}
:root {
    --primary-color: #5c585a;
    --main-font: 'PT' Sans Narrow;
}
.back-home {
    text-align: center;
    font-size: 23px;
}
.main-menu {
display: inline-block;
font-size: 15px;
  font-weight: bold;
  font-family: var(--main-font);
  color: #525bd6; 
  padding: 20px;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.description p {
    font-size: 14px;
    font-family: var(--main-font);
    line-height: 1.2;
    text-align: center;
}
a {
   color: #525bd6;
}
a:hover {
  color: #5c585a;
}
.about-me {
font-family: var(--main-font);
    line-height: 1.2;
    border: 1px solid #f3f2f2;
    background:#f3f2f2;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
}
.icons {
    font-size: 30px;
    text-align: center;
    margin-top: 45px;
}
.project-title {
    text-align: center;
    font-family: var(--main-font);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}
.img-fluid {
    border: 2px solid #fff;
    border-radius: 10px;
    transition: all 150ms linear;
}
.img-fluid:hover {
transform: scale(1.3);
}
h1 {
font-size: 35px;
color: var(--primary-color);
font-family: var(--main-font);
text-align: center;
padding: 35px;
}
h2 {
font-size: 45px;
color: #525bd6;
font-family: var(--main-font);
text-align: center;
}
h3 {
font-size: 26px;
color: var(--primary-color);
font-family: var(--main-font);
text-align: center;
padding: 35px;
}
footer {
    text-align: center;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: bold;
    font-family: courier;
}